form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fafafa;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}